src/main/app/muleexam.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:json="http://www.mulesoft.org/schema/mule/json" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:apikit="http://www.mulesoft.org/schema/mule/apikit" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" xmlns:core="http://www.mulesoft.org/schema/mule/core"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
http://www.mulesoft.org/schema/mule/apikit http://www.mulesoft.org/schema/mule/apikit/current/mule-apikit.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd">
	<context:property-placeholder location="api.properties" />
	<apikit:config name="apiConfig" raml="api.raml"
		consoleEnabled="true" consolePath="console" doc:name="Router" />
	<http:listener-config name="HTTP_Listener_Configuration"
		host="localhost" port="8082" doc:name="HTTP Listener Configuration" />
    <flow name="muleexamFlow1">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/" allowedMethods="POST" doc:name="HTTP"/>
        <json:json-to-object-transformer doc:name="JSON to Object"/>
        <flow-ref name="muleexamFlow2" doc:name="Flow Reference"/>
        <logger level="INFO" doc:name="Logger"/>
        <catch-exception-strategy doc:name="muleexamCatch_Exception_Strategy">
            <set-payload value="Flow 1 Error" doc:name="Set Payload"/>
        </catch-exception-strategy>
    </flow>
    <flow name="muleexamFlow2">
        <!-- <component doc:name="Java"/> -->
    </flow>

	<!-- <flow name="main">
		<http:listener config-ref="HTTP_Listener_Configuration"
			doc:name="HTTP" path="/api/*" />
		<apikit:router config-ref="apiConfig" doc:name="APIkit Router" />
		<exception-strategy ref="apiKitGlobalExceptionMapping"
			doc:name="Reference 
		Exception Strategy" />
	</flow> -->

	<flow name="muleexamFlow">
		<http:listener config-ref="HTTP_Listener_Configuration"
			path="/muleexam" allowedMethods="GET" doc:name="HTTP" />
		<set-variable variableName="destination" value="#[(flowVars.destination ==empty &amp;&amp; message.inboundProperties.'http.query.params'.code == empty) ? 'SFO' : (flowVars.destination != empty ? flowVars.destination : message.inboundProperties.'http.query.params'.code)]"
			doc:name="set destination" />
		<logger message="#[payload]"
			level="INFO" doc:name="Logger" />
	</flow>

	<!-- <apikit:mapping-exception-strategy
		name="apiKitGlobalExceptionMapping">
		<apikit:mapping statusCode="404">
			<apikit:exception
				value="org.mule.module.apikit.exception.NotFoundException" />
			<set-property propertyName="Content-Type" value="application/json"
				doc:name="Property"></set-property>
			<set-payload
				value="{ &quot;message&quot;: &quot;Resource not found&quot; 
		}"
				doc:name="Set Payload"></set-payload>
		</apikit:mapping>
		<apikit:mapping statusCode="405">
			<apikit:exception
				value="org.mule.module.apikit.exception.MethodNotAllowedException" />
			<set-property propertyName="Content-Type" value="application/json"
				doc:name="Property"></set-property>
			<set-payload
				value="{ &quot;message&quot;: &quot;Method not allowed&quot; 
		}"
				doc:name="Set Payload"></set-payload>
		</apikit:mapping>
		<apikit:mapping statusCode="415">
			<apikit:exception
				value="org.mule.module.apikit.exception.UnsupportedMediaTypeException" />
			<set-property propertyName="Content-Type" value="application/json"
				doc:name="Property"></set-property>
			<set-payload
				value="{ &quot;message&quot;: &quot;Unsupported media type&quot; 
		}"
				doc:name="Set Payload"></set-payload>
		</apikit:mapping>
		<apikit:mapping statusCode="406">
			<apikit:exception
				value="org.mule.module.apikit.exception.NotAcceptableException" />
			<set-property propertyName="Content-Type" value="application/json"
				doc:name="Property"></set-property>
			<set-payload value="{ &quot;message&quot;: &quot;Not acceptable&quot; }"
				doc:name="Set Payload"></set-payload>
		</apikit:mapping>
		<apikit:mapping statusCode="400">
			<apikit:exception
				value="org.mule.module.apikit.exception.BadRequestException" />
			<set-property propertyName="Content-Type" value="application/json"
				doc:name="Property"></set-property>
			<set-payload value="{ &quot;message&quot;: &quot;Bad request&quot; }"
				doc:name="Set 
		Payload"></set-payload>
		</apikit:mapping>
	</apikit:mapping-exception-strategy> -->
</mule>
